.row_container {
  margin: 0 30px;
  color: white;
}

.list_title {
  color: white;
  font-size: 1.3rem;
  margin: 5px 0;
}

.movie_list_holder {
  display: flex;

  /* the below 3 line of codes will list the moveies fully by allowing wrap; no nned to worry about scrolling horizontally */
  /*NOTE: add a slider for the listed movies  */
  /* flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */

  overflow-x:hidden;
  overflow-y: hidden;
  /* margin-bottom: 15px; */
}

.row_poster {
  height: 100px;
  margin-right: 10px;
  padding: 5px;
  transition: transform 300ms linear;

}

.row_poster:hover{
  border-left: 2px solid white;
  border-right: 2px solid white;

  padding:0

}
.row_poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.row_posterLarge {
  max-height: 250px !important;
  height: auto !important;
}
