.banner{
    height: 90dvh;
 background-repeat: no-repeat;
 background-size:100% 100%;
 background-position: center;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: contain;
}

.featured{
    /* background-color: rgba(0, 0, 0, .3); */
    /* border: 2px solid yellow; */
    
   margin-top: 100px;
    max-width: 500px;
    padding: 0 30px;
}

.featured-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.featured-buttons button{
    background: #555;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 10px;
    outline: none;
    border: none;
}


.play_btn{
    background-color: white !important;
    color: black !important;
}

.featured-buttons >button:hover{
color:white !important;    
background-color: red !important;
border-radius: 5px;
transition: all .5s ease-in-out;
cursor: pointer;
}
.featured-description{
    color: white;
    margin-top: 20px;
}

.featured-description p{
    color: white;
    line-height: 25px;
    font-size: 18px;
}

.featured_fade_bottom{
    /* border: 2px solid yellow; */
    height: 300px;
    margin-top: 20px;
    background-image: linear-gradient(180deg, transparent, rgb(37, 37, 37,.51), #111);
}